:root {
  --input-width: 200px;
  --input-height: 40px;
  --input-borderRadius: 3px;
}

.field-text {
  font-size: 16px;
  color: var(--neutral-shade-6);
}

.field-contaier {
  position: relative;
  border: none;
  background-color: transparent;
}

.field-label {
  position: absolute;
  left: 20px;
  top: 17px;
  background-color: transparent;
  transition: all ease-in-out 150ms;
}

.field-label.active {
  top: -20%;
  color: var(--primary-shade-3);
  font-size: 0.8em;

  transition: all ease-in-out 150ms;
}

.field-input {
  height: var(--input-height);
  width: var(--input-width);
  background-color: var(--neutral-shade-2);
  border: 1px solid transparent;
  border-radius: var(--input-borderRadius);
  box-sizing: border-box;
  padding-left: 10px;

  transition: background-color ease-in-out 150ms;
}

.field-input:focus {
  background-color: transparent;
  outline-color: var(--primary-shade-2);
}

.field-input:hover,
.field-label:hover {
  cursor: text;
}

.field-input-transparent {
  background-color: transparent;
  border: 1px solid var(--neutral-shade-2);
}

.field-label-fill {
  top: -20%;
  color: var(--neutral-shade-5);
  font-size: 0.8em;

  transition: all ease-in-out 150ms;
}

.field-option {
  height: var(--input-height);
  width: var(--input-width);
  border: 1px solid transparent;
  border-radius: var(--input-borderRadius);
  background-color: var(--neutral-shade-2);
  box-sizing: border-box;
}
